@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;300;400;500;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Oswald";
}

html {
  color: white;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../imagenes/FOTOS/fr.jpg");
  background-position: center/center;
  background-size: cover;
}
.container1 {
  *border: 1px solid #fff;
  max-width: 90%;
  width: 1100px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.container1 .logo {
  font-size: 32px;
  color: orangered;
  font-weight: bold;
}
.container1 .logo:hover {
  color: red;
  transition: 1.5s ease;
}
.nav {
  width: 350px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav li a {
  font-size: 18px;
  font-weight: bold;
  color: orangered;
}
.nav li a:hover {
  color: red;
  transition: 1.5s ease;
}
.nav li:hover {
  transform: scale(1.2);
}
.nav li:active {
  transform: scale(1);
}

/*FORMULARIO DE LOGIN -------------------------------------------------*/

form {
  max-width: 500px;
  width: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 9px 9px 0 orangered;
  margin-bottom: 30px;
}
form p {
  font-size: 22px;
  padding: 20px 0;
}
form input {
  width: 420px;
  font-size: 20px;
  padding: 14px;
  text-align: center;
  background: transparent;
  border: 3px solid orangered;
  color: #fff;
  border-radius: 10px;
}
form button {
  font-size: 16px;
  margin-top: 20px;
  display: block;
  padding: 10px 12px;
  background: transparent;
  border: 3px solid orangered;
  color: orangered;
  border-radius: 10px;
  cursor: pointer;
}
form button:hover {
  background: transparent;
  border: 3px solid #fff;
  color: #fff;
}

/*REDES DE PAGINA LOGIN  -------------------------------------------------------------*/

.redes2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.redes2 i {
  color: orangered;
  margin-left: 10px;
  font-size: 26px;
}
.redes2 i:hover {
  color: red;
}
.salir {
  width: 120px;
  font-size: 26px;
  margin: 0 auto;
  color: orangered;
  background: transparent;
  border: 3px solid orangered;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  *text-align: center;
}
.salir:hover {
  background: transparent;
  border: 3px solid #fff;
  color: #fff;
}

/* RESPONSIVE=================================================================>*/
@media screen and (max-width: 678px) {
  .container1 {
    margin-top: 20px;
    flex-direction: column;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 608px) {
  .container1 {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .logo {
    margin-top: 30px;
  }

  form {
    max-width: 90%;
    width: 100%;
  }
  form input {
    width: 100%;
  }
  form button {
    font-size: 16px;
  }
}

@media screen and (max-width: 505px) {
  form {
    left: 0;
  }
  form input {
    *max-width: 260px;

    *width: 100%;
  }
  form {
    max-width: 90%;
    width: 100%;
  }
  form input {
    width: 100%;
  }
}
@media screen and (max-width: 496px) {
  form {
    max-width: 90%;
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .redes {
    margin-bottom: 15px;
  }
  .logo {
    margin-bottom: 35px;
  }
  .nav {
    margin-top: 15px;
    *height: 120px;
    *margin: 10px 0 60px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    *padding-bottom: 35px;
  }
  form {
    margin-top: 180px;
  }
  .salir {
    margin-bottom: 10px;
  }
}
