<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <!--estilos css---------------->
    <link rel="stylesheet" href="../static/css/home.css" />

    <!--favicon---------------->
    <link
      rel="shortcut icon"
      href="../static/imagenes/FOTOS/l1.jpg"
      type="image/x-icon"
    />

    <!--LINK BOOTSTRAP------------------------------------------------>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <!--HEADER ------------------------------------------------>

    <header>
      <nav>
        <h3 class="logo">MAVENS</h3>
        <ul>
          <li><a href="/">Home</a></li>

          <li><a href="/registro">Registro</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </nav>

      <section>
        <div class="contene">
          <h1>Encuentra <span>Peliculas</span></h1>
          <h3>Tus favoritas</h3>
          <div class="rate">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
          </div>

          <div class="subtitulos">
            Accion <span>/</span> Drama <span>/</span> Suspenso
          </div>

          <div class="btns">
            <a href="/cartelera"
              ><button><i class="bi bi-play-fill"></i>Ingresar</button></a
            >
          </div>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
            temporibus repudiandae pariatur at incidunt nulla. Molestias
            consequuntur rem corrupti commodi. Adipisci nihil eius dolore
          </p>
        </div>
      </section>

      <!--TARJETAS------------------------------------------------>

      <div class="cards">
        <div class="card">
          <img src="../static/imagenes/FOTOS/t1.jpg" alt="" />
          <div class="conte">
            <h4>velocidad 2016</h4>
            <p>accion, drama</p>
          </div>
        </div>

        <div class="card">
          <img src="../static/imagenes/FOTOS/m1.jpg" alt="" />
          <div class="conte">
            <h4>infantil 2016</h4>
            <p>animada</p>
          </div>
        </div>

        <div class="card">
          <img src="../static/imagenes/FOTOS/t2.png" alt="" />
          <div class="conte">
            <h4>velocidad 2016</h4>
            <p>accion, drama</p>
          </div>
        </div>

        <div class="card">
          <img src="../static/imagenes/FOTOS/m2.jpg" alt="" />
          <div class="conte">
            <h4>infantil 2016</h4>
            <p>aventura</p>
          </div>
        </div>

        <div class="card">
          <img src="../static/imagenes/FOTOS/m3.jpg" alt="" />
          <div class="conte">
            <h4>animada 2016</h4>
            <p>drama</p>
          </div>
        </div>

        <div class="card">
          <img src="../static/imagenes/FOTOS/m4.jpg" alt="" />
          <div class="conte">
            <h4>niños 2016</h4>
            <p>accion, humor</p>
          </div>
        </div>

        <div class="card">
          <img src="../static/imagenes/FOTOS/m5.jpg" alt="" />
          <div class="conte">
            <h4>dibujos 2016</h4>
            <p>comedia, historieta</p>
          </div>
        </div>

        <div class="card">
          <img src="../static/imagenes/FOTOS/m6.jpg" alt="" />
          <div class="conte">
            <h4>infantil 2016</h4>
            <p>alegria</p>
          </div>
        </div>

        <div class="card">
          <img src="../static/imagenes/FOTOS/m7.jpg" alt="" />
          <div class="conte">
            <h4>animada 2016</h4>
            <p>aventura, comedian</p>
          </div>
        </div>

        <div class="card">
          <img src="../static/imagenes/FOTOS/m8.jpg" alt="" />
          <div class="conte">
            <h4>infantil 2016</h4>
            <p>accion, Suspenso</p>
          </div>
        </div>
        <!--TARJETAS HASTA AQUÍ .. 10 EN TOTAL ------------------------------------------------>
      </div>

      <img src="../static/imagenes/FOTOS/f1.jpg" alt="" class="main-img" />
    </header>
  </body>
</html>
